# Trabalho Final

## Informações do Dataset

Os dados (amostra) foram coletados em São Paulo - Brasil, em uma área universitária, onde acontecem algumas festas com turmas de alunos de 18 a 28 anos (média). O conjunto de dados utilizado para esta atividade possui 7 atributos, sendo uma Meta, com período de um ano.

Dataset: https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo

1.   Data
2.   Temperatura média (C)
3.   Temperatura mínima (C)
4.   Temperatura máxima (C)
5.   Precipitação (mm)
6.   Final de semana
7.   Consumo de cerveja (litros)

In [1]:
# Importando bibliotecas
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Carregando repositório com dataset
!wget https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/Consumo_cerveja.csv?raw=true

# Renomeando dataset
!mv './Consumo_cerveja.csv?raw=true' 'dataset_consumo_cerveja.csv'

# Criando dataframe
df_consumo_cerveja = pd.read_csv('dataset_consumo_cerveja.csv')

--2021-06-24 21:41:56--  https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/Consumo_cerveja.csv?raw=true
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/Consumo_cerveja.csv [following]
--2021-06-24 21:41:56--  https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/Consumo_cerveja.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/Consumo_cerveja.csv [following]
--2021-06-24 21:41:56--  https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/Consumo_cerveja.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20376 (20K) [text/plain]
Saving to: ‘Consumo_cerveja.csv?raw=true’

Consumo_cerveja.csv 100%[===================>]  19.90K  --.-KB/s    in 0s

2021-06-24 21:41:56 (133 MB/s) - ‘Consumo_cerveja.csv?raw=true’ saved [20376/20376]

# Normalização de Dados

In [3]:
# Dados iniciais
df_consumo_cerveja

           Data  ... Consumo de cerveja (litros)
0    2015-01-01  ...                      25.461
1    2015-01-02  ...                      28.972
2    2015-01-03  ...                      30.814
3    2015-01-04  ...                      29.799
4    2015-01-05  ...                      28.900
..          ...  ...                         ...
936         NaN  ...                         NaN
937         NaN  ...                         NaN
938         NaN  ...                         NaN
939         NaN  ...                         NaN
940         NaN  ...                         NaN

[941 rows x 7 columns]

In [4]:
# Identificando se existe valores nulos no dataframe
df_consumo_cerveja.isnull().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [5]:
# Removendo valores nulos
df_consumo_cerveja.dropna(inplace=True)

#Treat numeric values from dataframe
def str_to_num(df_aux, index):
  for i in index:
    col_name = df_aux.columns[i]
    df_aux[col_name] = df_aux[col_name].str.replace('.', '')
    df_aux[col_name] = df_aux[col_name].str.replace(',', '.')
    df_aux[col_name] = pd.to_numeric(df_aux[col_name])
  return df_aux

#transform field types
df_consumo_cerveja = str_to_num(df_consumo_cerveja, [1, 2, 3, 4])

#rename column
df_consumo_cerveja = df_consumo_cerveja.rename(columns={"Consumo de cerveja (litros)": "Consumo de cerveja (Kl)"})

# Apresentando dataframe normalizado
df_consumo_cerveja = df_consumo_cerveja.round(2)
df_consumo_cerveja

           Data  ...  Consumo de cerveja (Kl)
0    2015-01-01  ...                    25.46
1    2015-01-02  ...                    28.97
2    2015-01-03  ...                    30.81
3    2015-01-04  ...                    29.80
4    2015-01-05  ...                    28.90
..          ...  ...                      ...
360  2015-12-27  ...                    32.31
361  2015-12-28  ...                    26.10
362  2015-12-29  ...                    22.31
363  2015-12-30  ...                    20.47
364  2015-12-31  ...                    22.45

[365 rows x 7 columns]

Convertendo Valores para Numéricos

In [6]:
columns_aux = ["Temperatura Media (C)", "Temperatura Minima (C)", "Temperatura Maxima (C)", "Precipitacao (mm)", "Final de Semana"]
df_consumo_cerveja[columns_aux] = \
    df_consumo_cerveja[columns_aux].apply(pd.to_numeric)

In [7]:
# Informações do dataframe
df_consumo_cerveja.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     365 non-null    object
 1   Temperatura Media (C)    365 non-null    float64
 2   Temperatura Minima (C)   365 non-null    float64
 3   Temperatura Maxima (C)   365 non-null    float64
 4   Precipitacao (mm)        365 non-null    float64
 5   Final de Semana          365 non-null    float64
 6   Consumo de cerveja (Kl)  365 non-null    float64
dtypes: float64(6), object(1)
memory usage: 22.8+ KB

In [8]:
df_consumo_cerveja.describe().round(2)

       Temperatura Media (C)  ...  Consumo de cerveja (Kl)
count                 365.00  ...                   365.00
mean                   21.23  ...                    25.40
std                     3.18  ...                     4.40
min                    12.90  ...                    14.34
25%                    19.02  ...                    22.01
50%                    21.38  ...                    24.87
75%                    23.28  ...                    28.63
max                    28.86  ...                    37.94

[8 rows x 6 columns]

# Análise exploratória

In [ ]:
# Analisar distribuição e identificar outliers
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.distplot(df_consumo_cerveja['Consumo de cerveja (Kl)'], bins=30)
plt.show()

In [ ]:
#Correlação de variáveis
correlation_matrix = df_consumo_cerveja.corr().round(2)
print(correlation_matrix)
sns.heatmap(data=correlation_matrix, annot=True)

# Regrassão Linear

A análise de regressão diz respeito ao estudo da dependência de uma variável (a variável dependente) em relação a uma ou mais variáveis, as variáveis explanatórias, visando estimar e/ou prever o valor médio da primeira em termos dos valores conhecidos ou fixados das segundas.

## scikit-learn (https://scikit-learn.org/stable/)

O *scikit-learn* é um módulo Python especializado em soluções para *machine learning*.

In [15]:
from sklearn import linear_model
# Criando modelo
modelo = linear_model.LinearRegression(normalize = False, fit_intercept = True)

# Define os valores de x e y
num_observ = len(df_consumo_cerveja)
X = df_consumo_cerveja['Temperatura Maxima (C)'].values.reshape((num_observ, 1)) 
y = df_consumo_cerveja['Consumo de cerveja (Kl)'].values 

# Treinamento do modelo - fit()
modelo.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
# Imprime as previsões
print (modelo.predict(X))

[29.25733594 29.91214803 27.55482452 26.7035688  26.50712518 27.94771177
 30.04311045 29.45377957 30.23955407 30.37051649 30.76340374 31.15629099
 30.76340374 30.23955407 29.45377957 29.38829836 31.41821583 31.28725341
 31.87658429 31.28725341 28.2096366  25.06653858 25.06653858 27.22741847
 27.62030572 26.76905001 26.76905001 27.55482452 27.09645605 25.59038825
 23.88787683 26.31068155 25.32846342 28.34059902 23.49498958 22.97113991
 24.60817012 26.76905001 27.29289968 28.07867418 26.96549364 27.88223056
 29.38829836 28.99541111 28.66800506 26.04875671 25.85231309 26.31068155
 25.26298221 26.63808759 26.44164397 28.34059902 28.14415539 28.53704265
 28.86444869 27.16193726 27.81674935 28.53704265 26.11423792 25.197501
 27.09645605 27.29289968 27.94771177 28.66800506 26.63808759 25.39394463
 23.95335804 23.23306474 25.59038825 26.37616276 25.59038825 25.39394463
 26.24520034 25.52490705 27.22741847 24.73913254 23.75691441 25.72135067
 26.44164397 24.54268891 22.9056587  23.23306474 25.197501   26.24520034
 27.48934331 28.14415539 27.29289968 25.39394463 24.93557617 26.96549364
 25.98327551 25.13201979 25.78683188 27.22741847 25.26298221 26.11423792
 21.07218485 23.88787683 24.73913254 24.67365133 26.57260638 24.80461375
 24.80461375 26.83453122 25.9177943  25.45942584 25.65586946 27.16193726
 25.78683188 27.09645605 26.96549364 22.11988419 24.28076408 26.37616276
 23.23306474 23.49498958 24.28076408 25.59038825 22.84017749 20.22092914
 22.38180903 25.26298221 25.197501   22.57825265 21.59603452 21.33410969
 22.1853654  20.54833518 25.06653858 21.72699694 21.46507211 22.1853654
 20.35189156 21.72699694 22.05440298 22.57825265 22.64373386 21.92344057
 22.97113991 23.23306474 24.34624529 24.60817012 23.95335804 25.197501
 25.9177943  24.21528287 25.72135067 23.16758353 22.31632782 22.97113991
 20.02448551 19.76256068 19.43515464 22.1853654  23.75691441 24.54268891
 25.06653858 25.13201979 25.26298221 25.00105738 25.13201979 25.59038825
 23.36402716 25.9177943  25.85231309 23.29854595 19.82804189 24.4117265
 25.13201979 19.56611705 21.33410969 24.08432045 24.08432045 24.67365133
 19.76256068 19.36967343 21.66151573 21.59603452 22.25084661 23.95335804
 24.4117265  21.3995909  21.00670365 20.02448551 21.72699694 17.47071838
 21.46507211 21.20314727 20.22092914 21.33410969 24.60817012 20.94122244
 25.9177943  26.76905001 27.16193726 26.04875671 24.87009496 23.88787683
 23.56047078 24.93557617 24.4117265  21.98892178 18.51841771 21.46507211
 24.87009496 19.69707947 22.97113991 23.82239562 24.01883925 23.56047078
 25.45942584 25.39394463 25.26298221 25.197501   25.59038825 25.9177943
 25.78683188 26.11423792 26.90001243 26.17971913 25.13201979 26.31068155
 25.78683188 25.39394463 26.37616276 26.04875671 26.17971913 25.78683188
 26.31068155 25.32846342 26.50712518 20.81026002 22.44729024 25.13201979
 27.62030572 21.3995909  21.3995909  23.6914332  20.94122244 22.44729024
 25.45942584 28.9299299  29.06089232 28.07867418 21.20314727 24.34624529
 20.61381639 20.08996672 21.00670365 23.95335804 20.54833518 22.97113991
 24.73913254 22.25084661 18.19101167 18.51841771 22.70921507 27.68578693
 29.32281715 29.58474198 30.56696012 31.2217722  29.78118561 29.45377957
 29.78118561 30.23955407 31.09080978 27.81674935 24.28076408 28.01319298
 23.42950837 25.72135067 26.04875671 25.26298221 29.38829836 24.34624529
 21.92344057 22.64373386 24.14980166 29.32281715 30.23955407 26.96549364
 26.31068155 27.62030572 27.35838089 26.04875671 26.63808759 31.41821583
 31.35273462 27.09645605 20.54833518 25.78683188 31.09080978 28.9299299
 22.9056587  25.85231309 21.85795936 20.54833518 26.63808759 26.57260638
 23.62595199 24.21528287 28.40608023 27.16193726 22.64373386 25.78683188
 24.73913254 25.9177943  24.21528287 22.9056587  21.07218485 23.62595199
 27.29289968 28.79896748 29.38829836 28.79896748 27.35838089 27.88223056
 27.4238621  24.28076408 27.4238621  27.94771177 27.88223056 25.65586946
 23.95335804 26.83453122 23.42950837 22.77469628 24.21528287 25.9177943
 26.57260638 27.48934331 25.00105738 23.23306474 24.87009496 27.22741847
 25.06653858 27.03097485 28.01319298 26.31068155 23.62595199 26.31068155
 26.24520034 26.11423792 27.81674935 28.14415539 28.27511781 29.25733594
 29.45377957 24.21528287 26.76905001 29.91214803 28.47156144 26.96549364
 27.03097485 29.19185473 29.19185473 28.60252385 28.27511781 27.48934331
 26.44164397 25.45942584 23.75691441 22.64373386 26.96549364]

In [17]:
# Fazendo previsões com o modelo treinado
TM = 33
Xp = np.array(TM).reshape(-1, 1)
print ("Se Temperatura Máxima = %01.f nosso modelo prevê que o consumo de bebida é %0.1f" % (TM, modelo.predict(Xp)))

Se Temperatura Máxima = 33 nosso modelo prevê que o consumo de bebida é 29.6

# Dataset para teste do modelo

Dataset obtido do site https://pt.climate-data.org/

## Carregamento do dataset

In [ ]:
# Carregando repositório com dataset
!wget https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/dados%20climaticos.xlsx?raw=true

# Renomeando dataset
!mv './dados climaticos.xlsx?raw=true' 'dataset_dados_climaticos.xlsx'

--2021-06-23 21:11:23--  https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/dados%20climaticos.xlsx?raw=true
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/dados%20climaticos.xlsx [following]
--2021-06-23 21:11:23--  https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/dados%20climaticos.xlsx
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/dados%20climaticos.xlsx [following]
--2021-06-23 21:11:23--  https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/dados%20climaticos.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26521 (26K) [application/octet-stream]
Saving to: ‘dados climaticos.xlsx?raw=true’

dados climaticos.xl 100%[===================>]  25.90K  --.-KB/s    in 0.001s

2021-06-23 21:11:24 (38.3 MB/s) - ‘dados climaticos.xlsx?raw=true’ saved [26521/26521]

In [ ]:
# Criando dataframe
df_dados_climaticos = pd.read_excel('dataset_dados_climaticos.xlsx')

df_dados_climaticos

          Data  Temperatura Media ( C )  ...  Precipitacao (mm)  Cidade
0     1. Junho                       26  ...                7.8  Manaus
1     2. Junho                       26  ...                8.6  Manaus
2     3. Junho                       26  ...                7.9  Manaus
3     4. Junho                       26  ...                7.3  Manaus
4     5. Junho                       26  ...                6.9  Manaus
..         ...                      ...  ...                ...     ...
805  26. Junho                       26  ...                0.0  Palmas
806  27. Junho                       27  ...                0.0  Palmas
807  28. Junho                       27  ...                0.0  Palmas
808  29. Junho                       27  ...                0.0  Palmas
809  30. Junho                       27  ...                0.0  Palmas

[810 rows x 6 columns]

In [ ]:
df_dados_climaticos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data                      810 non-null    object
 1   Temperatura Media ( C )   810 non-null    int64
 2   Temperatura Maxima ( C )  810 non-null    int64
 3   Temperatura Minima ( C )  810 non-null    int64
 4   Precipitacao (mm)         810 non-null    float64
 5   Cidade                    810 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 38.1+ KB

## Informação de Final de Semana

In [ ]:
# print(df_dados_climaticos['Data'].str.startswith('5', na=False))
df_dados_climaticos['Final de Semana'] = np.where( \
                                                  df_dados_climaticos['Data'].str.startswith('5.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('6.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('12.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('13.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('19.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('20.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('26.', na=False) |
                                                  df_dados_climaticos['Data'].str.startswith('27.', na=False), \
                                                  1, 0)
print(df_dados_climaticos)

          Data  Temperatura Media ( C )  ...  Cidade  Final de Semana
0     1. Junho                       26  ...  Manaus                0
1     2. Junho                       26  ...  Manaus                0
2     3. Junho                       26  ...  Manaus                0
3     4. Junho                       26  ...  Manaus                0
4     5. Junho                       26  ...  Manaus                1
..         ...                      ...  ...     ...              ...
805  26. Junho                       26  ...  Palmas                1
806  27. Junho                       27  ...  Palmas                1
807  28. Junho                       27  ...  Palmas                0
808  29. Junho                       27  ...  Palmas                0
809  30. Junho                       27  ...  Palmas                0

[810 rows x 7 columns]