<a href="https://colab.research.google.com/github/Andrewsas/trabalho-fundamentos-cid/blob/master/Modulo_4/Projeto_final_modulo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports e Dependências

In [7]:
import pandas as pd
import requests

#Funções ETL

In [3]:
#Treat numeric values from dataframe
def str_to_num(df_aux, index):
  for i in index:
    col_name = df_aux.columns[i]
    df_aux[col_name] = df_aux[col_name].str.replace('.', '')
    df_aux[col_name] = df_aux[col_name].str.replace(',', '.')
    df_aux[col_name] = pd.to_numeric(df_aux[col_name])
  return df_aux

In [30]:
#Return dataframe from api informed
def retrieve_data_from_api(url):
  url = (url)
  response = requests.get(url)
  print(response)
  if response.status_code == 200:
    payload = response.json()
  else:
    print(f'Error {response.status_code}: {response.reason}')
  return pd.DataFrame(payload["results"]), payload["page"], payload["total_pages"]

In [51]:
#Reference: https://www.themoviedb.org/documentation/api
def build_themoviedb_url(request_type, page):
  BASE_URL = "https://api.themoviedb.org/3/"
  API_KEY = "c9fd270fb257dd3be3a6cc9eac4b81a6"
  DEFAULT_LANGUAGE = "en-US"
  uri = BASE_URL + request_type + "?api_key=" + API_KEY + "&language=" + DEFAULT_LANGUAGE 
  if page > 0:
    uri = uri + "&page=" + str(page)
  return uri

In [73]:
def load_all_themoviedb(request):
  print(request)
  current_page = 0
  total_pages = 1
  while current_page <= total_pages:
    print("TOTAL: ", total_pages, "Current: ", current_page)
    uri = build_themoviedb_url(request, current_page)
    df_aux, current_page, total_pages = retrieve_data_from_api(uri)
    if current_page == 1:
      df = pd.DataFrame(df_aux)
    else:
      df = df_movies.append(df_aux, ignore_index=True)
    current_page = current_page+1
  return df

##Métodos para checagem de **outliers**

In [5]:
def tukeys_method(df):
  # Parâmetros: series
  q1 = np.quantile(df, 0.25)
  q3 = np.quantile(df, 0.75)
  iqr = q3-q1
  inner_fence = 1.5*iqr
  outer_fence = 3*iqr

  #inner fence lower and uper end
  inner_fence_le = q1-inner_fence
  inner_fence_ue = q3+inner_fence

  #outer fence lower and uper end
  outer_fence_le = q1-outer_fence
  outer_fence_ue = q3+outer_fence

  outliers_prob = []
  outliers_poss = []
  for index, x in enumerate(df):
    if x <= outer_fence_le or x >= outer_fence_ue:
      outliers_prob.append(index)
  for index, x in enumerate(df):
    if x <= inner_fence_le or x >= inner_fence_ue:
      outliers_poss.append(index)
  return outliers_prob, outliers_poss

#Carregamento dos dados

1.   Filmes
2.   Séries

In [ ]:
#Movies
df_movies = load_all_themoviedb("movie/top_rated")
df_movies.info()

In [74]:
#Series
df_series = load_all_themoviedb("tv/top_rated")
df_series.info()

tv/top_rated
TOTAL:  1 Current:  0
<Response [200]>
TOTAL:  83 Current:  2
<Response [200]>
TOTAL:  83 Current:  3
<Response [200]>
TOTAL:  83 Current:  4
<Response [200]>
TOTAL:  83 Current:  5
<Response [200]>
TOTAL:  83 Current:  6
<Response [200]>
TOTAL:  83 Current:  7
<Response [200]>
TOTAL:  83 Current:  8
<Response [200]>
TOTAL:  83 Current:  9
<Response [200]>
TOTAL:  83 Current:  10
<Response [200]>
TOTAL:  83 Current:  11
<Response [200]>
TOTAL:  83 Current:  12
<Response [200]>
TOTAL:  83 Current:  13
<Response [200]>
TOTAL:  83 Current:  14
<Response [200]>
TOTAL:  83 Current:  15
<Response [200]>
TOTAL:  83 Current:  16
<Response [200]>
TOTAL:  83 Current:  17
<Response [200]>
TOTAL:  83 Current:  18
<Response [200]>
TOTAL:  83 Current:  19
<Response [200]>
TOTAL:  83 Current:  20
<Response [200]>
TOTAL:  83 Current:  21
<Response [200]>
TOTAL:  83 Current:  22
<Response [200]>
TOTAL:  83 Current:  23
<Response [200]>
TOTAL:  83 Current:  24
<Response [200]>
TOTAL:  83 Current:  25
<Response [200]>
TOTAL:  83 Current:  26
<Response [200]>
TOTAL:  83 Current:  27
<Response [200]>
TOTAL:  83 Current:  28
<Response [200]>
TOTAL:  83 Current:  29
<Response [200]>
TOTAL:  83 Current:  30
<Response [200]>
TOTAL:  83 Current:  31
<Response [200]>
TOTAL:  83 Current:  32
<Response [200]>
TOTAL:  83 Current:  33
<Response [200]>
TOTAL:  83 Current:  34
<Response [200]>
TOTAL:  83 Current:  35
<Response [200]>
TOTAL:  83 Current:  36
<Response [200]>
TOTAL:  83 Current:  37
<Response [200]>
TOTAL:  83 Current:  38
<Response [200]>
TOTAL:  83 Current:  39
<Response [200]>
TOTAL:  83 Current:  40
<Response [200]>
TOTAL:  83 Current:  41
<Response [200]>
TOTAL:  83 Current:  42
<Response [200]>
TOTAL:  83 Current:  43
<Response [200]>
TOTAL:  83 Current:  44
<Response [200]>
TOTAL:  83 Current:  45
<Response [200]>
TOTAL:  83 Current:  46
<Response [200]>
TOTAL:  83 Current:  47
<Response [200]>
TOTAL:  83 Current:  48
<Response [200]>
TOTAL:  83 Current:  49
<Response [200]>
TOTAL:  83 Current:  50
<Response [200]>
TOTAL:  83 Current:  51
<Response [200]>
TOTAL:  83 Current:  52
<Response [200]>
TOTAL:  83 Current:  53
<Response [200]>
TOTAL:  83 Current:  54
<Response [200]>
TOTAL:  83 Current:  55
<Response [200]>
TOTAL:  83 Current:  56
<Response [200]>
TOTAL:  83 Current:  57
<Response [200]>
TOTAL:  83 Current:  58
<Response [200]>
TOTAL:  83 Current:  59
<Response [200]>
TOTAL:  83 Current:  60
<Response [200]>
TOTAL:  83 Current:  61
<Response [200]>
TOTAL:  83 Current:  62
<Response [200]>
TOTAL:  83 Current:  63
<Response [200]>
TOTAL:  83 Current:  64
<Response [200]>
TOTAL:  83 Current:  65
<Response [200]>
TOTAL:  83 Current:  66
<Response [200]>
TOTAL:  83 Current:  67
<Response [200]>
TOTAL:  83 Current:  68
<Response [200]>
TOTAL:  83 Current:  69
<Response [200]>
TOTAL:  83 Current:  70
<Response [200]>
TOTAL:  83 Current:  71
<Response [200]>
TOTAL:  83 Current:  72
<Response [200]>
TOTAL:  83 Current:  73
<Response [200]>
TOTAL:  83 Current:  74
<Response [200]>
TOTAL:  83 Current:  75
<Response [200]>
TOTAL:  83 Current:  76
<Response [200]>
TOTAL:  83 Current:  77
<Response [200]>
TOTAL:  83 Current:  78
<Response [200]>
TOTAL:  83 Current:  79
<Response [200]>
TOTAL:  83 Current:  80
<Response [200]>
TOTAL:  83 Current:  81
<Response [200]>
TOTAL:  83 Current:  82
<Response [200]>
TOTAL:  83 Current:  83
<Response [200]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8423 entries, 0 to 8422
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              8417 non-null   object
 1   backdrop_path      8394 non-null   object
 2   genre_ids          8423 non-null   object
 3   id                 8423 non-null   int64
 4   original_language  8423 non-null   object
 5   original_title     8417 non-null   object
 6   overview           8423 non-null   object
 7   popularity         8423 non-null   float64
 8   poster_path        8423 non-null   object
 9   release_date       8417 non-null   object
 10  title              8417 non-null   object
 11  video              8417 non-null   object
 12  vote_average       8423 non-null   float64
 13  vote_count         8423 non-null   int64
 14  first_air_date     6 non-null      object
 15  name               6 non-null      object
 16  origin_country     6 non-null      object
 17  original_name      6 non-null      object
dtypes: float64(2), int64(2), object(14)
memory usage: 1.2+ MB