<a href="https://colab.research.google.com/github/Andrewsas/trabalho-fundamentos-cid/blob/master/Modulo_4/Projeto_Final_Tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [29]:
movies = pd.read_csv("https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/movies.csv?raw=true")
series = pd.read_csv("https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/series.csv?raw=true")
netflix = pd.read_csv("https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/netflix_titles.csv?raw=true")

In [30]:
# filter columns
movies['type'] = 'movie'
movies = movies[['type', 'release_date', 'title', 'popularity', 'vote_average', 'vote_count', 'genres', 'original_language', 'overview', 'Crew']]

In [31]:
# rename columns
movies.columns = ['type', 'release', 'title', 'popularity', 'vote_average', 'vote_count', 'genres', 'language', 'overview', 'crew']
movies.head()

    type  ...                                               crew
0  movie  ...                                         Tosca Musk
1  movie  ...                                         Tosca Musk
2  movie  ...                                      Aditya Chopra
3  movie  ...               Tomm Moore;Ross Stewart;Mark Mullery
4  movie  ...  Frank Darabont;Sioux Richards;Jesse V. Johnson...

[5 rows x 10 columns]

In [32]:
# filter columns
series['type'] = 'serie'
series = series[['type', 'first_air_date', 'name', 'popularity', 'vote_average', 'vote_count', 'genres', 'original_language', 'overview', 'Crew']]

In [33]:
# rename columns
series.columns = ['type', 'release', 'title', 'popularity', 'vote_average', 'vote_count', 'genres', 'language', 'overview', 'crew']
series.head()

    type  ...              crew
0  serie  ...               NaN
1  serie  ...  Hikaru Yamaguchi
2  serie  ...               NaN
3  serie  ...   Hiroshi Ikehata
4  serie  ...         Takao Abo

[5 rows x 10 columns]

In [34]:
# concatenar os dataset de filmes e series
data_lake = pd.concat([movies, series], ignore_index=True, sort=False)

In [35]:
# cast type columns
data_lake[['type', 'title', 'genres', 'language', 'overview', 'crew', 'release']] = data_lake[['type', 'title', 'genres', 'language', 'overview', 'crew', 'release']].astype('string')
data_lake[['popularity', 'vote_average']] = data_lake[['popularity', 'vote_average']].astype('float')
data_lake[['vote_count']] = data_lake[['vote_count']].astype('int')
data_lake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10102 entries, 0 to 10101
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          10102 non-null  string
 1   release       10094 non-null  string
 2   title         10102 non-null  string
 3   popularity    10102 non-null  float64
 4   vote_average  10102 non-null  float64
 5   vote_count    10102 non-null  int64
 6   genres        10077 non-null  string
 7   language      10102 non-null  string
 8   overview      10048 non-null  string
 9   crew          8789 non-null   string
dtypes: float64(2), int64(1), string(7)
memory usage: 789.3 KB

In [37]:
data_lake.head()

    type  ...                                               crew
0  movie  ...                                         Tosca Musk
1  movie  ...                                         Tosca Musk
2  movie  ...                                      Aditya Chopra
3  movie  ...               Tomm Moore;Ross Stewart;Mark Mullery
4  movie  ...  Frank Darabont;Sioux Richards;Jesse V. Johnson...

[5 rows x 10 columns]