#Imports e Dependências

In [ ]:
import pandas as pd
from google.colab import drive
import sqlite3
drive.mount('/content/drive/', force_remount='true')


!ls

Mounted at /content/drive/
drive  sample_data

#Aula manhã

In [ ]:
df_countries = pd.read_csv('drive/MyDrive/Colab Notebooks/Módulo 4/countries.csv', sep=";")
df_flags = pd.read_csv('drive/MyDrive/Colab Notebooks/Módulo 4/flags.csv')

In [ ]:
df_countries.head()

  alpha_2 alpha_3      area  ... postal_code_format postal_code_regex  tld
0      AD     AND     468.0  ...              AD###  ^(?:AD)*(\d{3})$  .ad
1      AE     ARE   82880.0  ...                NaN               NaN  .ae
2      AF     AFG  647500.0  ...                NaN               NaN  .af
3      AG     ATG     443.0  ...                NaN               NaN  .ag
4      AI     AIA     102.0  ...                NaN               NaN  .ai

[5 rows x 19 columns]

In [ ]:
df_flags.head()

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [ ]:
# países comuns a estas duas fontes de informação
df_comum = pd.concat([df_flags, df_countries], ignore_index=True)
df_comum = df_comum.drop_duplicates()

df_comum = df_comum.sort_values(by=['name'])
df_comum

              name  landmass  zone  ...  postal_code_format  postal_code_regex  tld
0      Afghanistan       5.0   1.0  ...                 NaN                NaN  NaN
196    Afghanistan       NaN   NaN  ...                 NaN                NaN  .af
208  Aland Islands       NaN   NaN  ...               #####   ^(?:FI)*(\d{5})$  .ax
1          Albania       3.0   1.0  ...                 NaN                NaN  NaN
199        Albania       NaN   NaN  ...                 NaN                NaN  .al
..             ...       ...   ...  ...                 ...                ...  ...
191          Zaire       4.0   2.0  ...                 NaN                NaN  NaN
192         Zambia       4.0   2.0  ...                 NaN                NaN  NaN
442         Zambia       NaN   NaN  ...               #####          ^(\d{5})$  .zm
443       Zimbabwe       NaN   NaN  ...                 NaN                NaN  .zw
193       Zimbabwe       4.0   2.0  ...                 NaN                NaN  NaN

[446 rows x 46 columns]

In [ ]:
# Quais países fazem parte apenas de flags.csv
df_only_in_flags = df_flags[df_flags.name.isin(df_countries.name)==False]
df_only_in_flags = df_only_in_flags.sort_values(by=['name'])

df_only_in_flags

                     name  landmass  zone  ...  text  topleft  botright
3          American-Samoa         6     3  ...     0     blue       red
7         Antigua-Barbuda         1     4  ...     0    black       red
9               Argentine         2     3  ...     0     blue      blue
24   British-Virgin-Isles         1     4  ...     1    white      blue
27                Burkina         4     4  ...     0      red     green
..                    ...       ...   ...  ...   ...      ...       ...
184                  USSR         5     1  ...     0      red       red
186          Vatican-City         3     1  ...     0     gold     white
189         Western-Samoa         6     3  ...     0     blue       red
190            Yugoslavia         3     1  ...     0     blue       red
191                 Zaire         4     2  ...     0    green     green

[61 rows x 30 columns]

In [ ]:
# Quais países fazem parte apenas de countries.csv
df_only_in_countries = df_countries[df_countries.name.isin(df_flags.name)==False]
df_only_in_countries = df_only_in_countries.sort_values(by=['name'])

df_only_in_countries

    alpha_2 alpha_3         area  ... postal_code_format postal_code_regex  tld
14       AX     ALA      1580.00  ...              #####  ^(?:FI)*(\d{5})$  .ax
10       AS     ASM       199.00  ...                NaN               NaN  .as
8        AQ     ATA  14000000.00  ...                NaN               NaN  .aq
3        AG     ATG       443.00  ...                NaN               NaN  .ag
6        AM     ARM     29800.00  ...             ######         ^(\d{6})$  .am
..      ...     ...          ...  ...                ...               ...  ...
235      UZ     UZB    447400.00  ...             ######         ^(\d{6})$  .uz
236      VA     VAT         0.44  ...              #####         ^(\d{5})$  .va
243      WF     WLF       274.00  ...              #####      ^(986\d{2})$  .wf
65       EH     ESH    266000.00  ...                NaN               NaN  .eh
245      YE     YEM    527970.00  ...                NaN               NaN  .ye

[119 rows x 19 columns]

#Aula tarde

In [ ]:
con = sqlite3.connect('drive/MyDrive/Colab Notebooks/Módulo 4/northwind.sqlite')

# Os 10 produtos mais caros
str_query = ('select distinct products.product_name as most_expensive, products.unit_price from products order by products.unit_price desc')

filtered_data = pd.read_sql_query(str_query, con)
filtered_data

             most_expensive  unit_price
0             Côte de Blaye  263.500000
1   Thüringer Rostbratwurst  123.790001
2           Mishi Kobe Niku   97.000000
3    Sir Rodney's Marmalade   81.000000
4          Carnarvon Tigers   62.500000
..                      ...         ...
72                Tourtière    7.450000
73                 Filo Mix    7.000000
74                    Konbu    6.000000
75       Guaraná Fantástica    4.500000
76                  Geitost    2.500000

[77 rows x 2 columns]

In [ ]:
# Vendas por categoria
filtered_data = pd.read_sql_query('select categories.category_name, count(categories.category_id) as contagem, sum((order_details.unit_price*quantity*(1-discount)/100)*100) as valor_total from products'
' inner join categories on products.category_id = categories.category_id'
' inner join order_details on products.product_id = order_details.product_id'
' group by products.category_id order by valor_total', con)

filtered_data

    category_name  contagem    valor_total
0  Grains/Cereals       196   95744.587357
1         Produce       136   99984.580079
2      Condiments       216  106047.084597
3         Seafood       330  131261.736551
4    Meat/Poultry       173  163022.360348
5     Confections       334  167357.225439
6  Dairy Products       366  234507.284529
7       Beverages       404  267868.179751

In [ ]:
# Produtos vendidos em 1996
filtered_data = pd.read_sql_query('select categories.category_name, count(products.product_id) as contagem_produtos, products.product_name, sum((order_details.unit_price*quantity*(1-discount)/100)*100) as valor_total from products'
' inner join categories on products.category_id = categories.category_id'
' inner join order_details on products.product_id = order_details.product_id'
' join orders on order_details.order_id = orders.order_id'
' where ((orders.order_date) between \'1996-1-1\' and \'1996-12-31\')'
' group by products.product_id order by valor_total', con)

filtered_data

     category_name  ...   valor_total
0          Seafood  ...     58.799999
1       Condiments  ...     61.999998
2          Seafood  ...     91.199998
3      Confections  ...     97.279998
4       Condiments  ...    120.000000
..             ...  ...           ...
62    Meat/Poultry  ...   3959.280099
63  Dairy Products  ...   4457.729867
64  Dairy Products  ...   6005.760171
65    Meat/Poultry  ...   7227.000000
66       Beverages  ...  24874.400316

[67 rows x 4 columns]