#Imports e Dependências

In [2]:
import pandas as pd

##Obter datasets

In [1]:
!wget https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/countries.csv?raw=true

!wget https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/flags.csv?raw=true

!ls -la

--2021-02-09 00:22:29--  https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/countries.csv?raw=true
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/countries.csv [following]
--2021-02-09 00:22:29--  https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/countries.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/countries.csv [following]
--2021-02-09 00:22:29--  https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/countries.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 28446 (28K) [text/plain]
Saving to: ‘countries.csv?raw=true’

countries.csv?raw=t 100%[===================>]  27.78K  --.-KB/s    in 0.003s

2021-02-09 00:22:29 (9.73 MB/s) - ‘countries.csv?raw=true’ saved [28446/28446]

--2021-02-09 00:22:29--  https://github.com/Andrewsas/trabalho-fundamentos-cid/blob/master/data/flags.csv?raw=true
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/flags.csv [following]
--2021-02-09 00:22:29--  https://github.com/Andrewsas/trabalho-fundamentos-cid/raw/master/data/flags.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/flags.csv [following]
--2021-02-09 00:22:29--  https://raw.githubusercontent.com/Andrewsas/trabalho-fundamentos-cid/master/data/flags.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15456 (15K) [text/plain]
Saving to: ‘flags.csv?raw=true’

flags.csv?raw=true  100%[===================>]  15.09K  --.-KB/s    in 0s

2021-02-09 00:22:30 (81.7 MB/s) - ‘flags.csv?raw=true’ saved [15456/15456]

total 60
drwxr-xr-x 1 root root  4096 Feb  9 00:22  .
drwxr-xr-x 1 root root  4096 Feb  9 00:21  ..
drwxr-xr-x 1 root root  4096 Feb  5 15:13  .config
-rw-r--r-- 1 root root 28446 Feb  9 00:22 'countries.csv?raw=true'
-rw-r--r-- 1 root root 15456 Feb  9 00:22 'flags.csv?raw=true'
drwxr-xr-x 1 root root  4096 Feb  4 15:26  sample_data

Rename files

In [3]:
!mv 'countries.csv?raw=true' 'countries.csv'

!mv 'flags.csv?raw=true' 'flags.csv'

In [4]:
!ls -la

total 60
drwxr-xr-x 1 root root  4096 Feb  9 00:24 .
drwxr-xr-x 1 root root  4096 Feb  9 00:21 ..
drwxr-xr-x 1 root root  4096 Feb  5 15:13 .config
-rw-r--r-- 1 root root 28446 Feb  9 00:22 countries.csv
-rw-r--r-- 1 root root 15456 Feb  9 00:22 flags.csv
drwxr-xr-x 1 root root  4096 Feb  4 15:26 sample_data

#Tratar datasets

In [5]:
df_countries = pd.read_csv('./countries.csv', sep=";")
df_flags = pd.read_csv('./flags.csv')

In [6]:
df_countries.head()

  alpha_2 alpha_3      area  ... postal_code_format postal_code_regex  tld
0      AD     AND     468.0  ...              AD###  ^(?:AD)*(\d{3})$  .ad
1      AE     ARE   82880.0  ...                NaN               NaN  .ae
2      AF     AFG  647500.0  ...                NaN               NaN  .af
3      AG     ATG     443.0  ...                NaN               NaN  .ag
4      AI     AIA     102.0  ...                NaN               NaN  .ai

[5 rows x 19 columns]

In [8]:
df_flags.head()

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [ ]:
# países comuns a estas duas fontes de informação
df_comum = pd.concat([df_flags, df_countries], ignore_index=True)
df_comum = df_comum.drop_duplicates()

df_comum = df_comum.sort_values(by=['name'])
df_comum

              name  landmass  zone  ...  postal_code_format  postal_code_regex  tld
0      Afghanistan       5.0   1.0  ...                 NaN                NaN  NaN
196    Afghanistan       NaN   NaN  ...                 NaN                NaN  .af
208  Aland Islands       NaN   NaN  ...               #####   ^(?:FI)*(\d{5})$  .ax
1          Albania       3.0   1.0  ...                 NaN                NaN  NaN
199        Albania       NaN   NaN  ...                 NaN                NaN  .al
..             ...       ...   ...  ...                 ...                ...  ...
191          Zaire       4.0   2.0  ...                 NaN                NaN  NaN
192         Zambia       4.0   2.0  ...                 NaN                NaN  NaN
442         Zambia       NaN   NaN  ...               #####          ^(\d{5})$  .zm
443       Zimbabwe       NaN   NaN  ...                 NaN                NaN  .zw
193       Zimbabwe       4.0   2.0  ...                 NaN                NaN  NaN

[446 rows x 46 columns]

In [ ]:
# Quais países fazem parte apenas de flags.csv
df_only_in_flags = df_flags[df_flags.name.isin(df_countries.name)==False]
df_only_in_flags = df_only_in_flags.sort_values(by=['name'])

df_only_in_flags

                     name  landmass  zone  ...  text  topleft  botright
3          American-Samoa         6     3  ...     0     blue       red
7         Antigua-Barbuda         1     4  ...     0    black       red
9               Argentine         2     3  ...     0     blue      blue
24   British-Virgin-Isles         1     4  ...     1    white      blue
27                Burkina         4     4  ...     0      red     green
..                    ...       ...   ...  ...   ...      ...       ...
184                  USSR         5     1  ...     0      red       red
186          Vatican-City         3     1  ...     0     gold     white
189         Western-Samoa         6     3  ...     0     blue       red
190            Yugoslavia         3     1  ...     0     blue       red
191                 Zaire         4     2  ...     0    green     green

[61 rows x 30 columns]

In [ ]:
# Quais países fazem parte apenas de countries.csv
df_only_in_countries = df_countries[df_countries.name.isin(df_flags.name)==False]
df_only_in_countries = df_only_in_countries.sort_values(by=['name'])

df_only_in_countries

    alpha_2 alpha_3         area  ... postal_code_format postal_code_regex  tld
14       AX     ALA      1580.00  ...              #####  ^(?:FI)*(\d{5})$  .ax
10       AS     ASM       199.00  ...                NaN               NaN  .as
8        AQ     ATA  14000000.00  ...                NaN               NaN  .aq
3        AG     ATG       443.00  ...                NaN               NaN  .ag
6        AM     ARM     29800.00  ...             ######         ^(\d{6})$  .am
..      ...     ...          ...  ...                ...               ...  ...
235      UZ     UZB    447400.00  ...             ######         ^(\d{6})$  .uz
236      VA     VAT         0.44  ...              #####         ^(\d{5})$  .va
243      WF     WLF       274.00  ...              #####      ^(986\d{2})$  .wf
65       EH     ESH    266000.00  ...                NaN               NaN  .eh
245      YE     YEM    527970.00  ...                NaN               NaN  .ye

[119 rows x 19 columns]