![image.png]()

- Módulo: Machine Learning Aplicado I

- Equipe: [NAME]

- Alunos:
  
  - Andrew da Silva Santos
  - Eberth Felipe Castro da Cruz
  - Eduardo Amorim de Araújo

#Coding

##General Imports

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Scikit-learn
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier, DistanceMetric
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

Install Shap

In [2]:
!pip install shap

Collecting shap
  Downloading shap-0.39.0.tar.gz (356 kB)
     |████████████████████████████████| 356 kB 7.5 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.41.1)
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.2.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.0.1)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.39.0-cp37-cp37m-linux_x86_64.whl size=491646 sha256=8cf4c0ad1f0a4c98665f6a5bf0cc169a518a8ba1656266e71a8d6fa3c075bc9a
  Stored in directory: /root/.cache/pip/wheels/ca/25/8f/6ae5df62c32651cd719e972e738a8aaa4a87414c4d2b14c9c0
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.39.0 slicer-0.0.7

##Get data from Kaggle API
Reference: https://colab.research.google.com/github/corrieann/kaggle/blob/master/kaggle_api_in_colab.ipynb

###Install Kaggle

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

###Get Files

In [4]:
# Kaggle API reference: https://github.com/Kaggle/kaggle-api
def import_kaggle_api_key():
  from google.colab import files

  uploaded = files.upload()

  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))
    
  # Then move kaggle.json into the folder where the API expects to find it.
  !mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

def get_data_from_competition():
  # Kaggle competition link
  # https://www.kaggle.com/c/aml-t2-fw/data
  !kaggle competitions download -c aml-t2-fw
  !ls -la ./
  !unzip ./Dados_Teste.csv.zip
  !unzip ./Dados_Treino.csv.zip
  !ls -la ./

Run this function to import your API.

In order to get you key, got to **Kaggle** > Account > Create New API Token

Import `kaggle.json` file

In [5]:
import_kaggle_api_key()

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 68 bytes

In [6]:
get_data_from_competition()

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading Template_Submissao.csv to /content
  0% 0.00/114k [00:00<?, ?B/s]
100% 114k/114k [00:00<00:00, 43.7MB/s]
Downloading Dicionario_de_Dados.csv to /content
  0% 0.00/28.2k [00:00<?, ?B/s]
100% 28.2k/28.2k [00:00<00:00, 24.2MB/s]
Downloading Dados_Treino.csv.zip to /content
 25% 5.00M/20.3M [00:00<00:00, 26.6MB/s]
100% 20.3M/20.3M [00:00<00:00, 67.2MB/s]
Downloading Dados_Teste.csv.zip to /content
  0% 0.00/2.30M [00:00<?, ?B/s]
100% 2.30M/2.30M [00:00<00:00, 76.3MB/s]
total 23268
drwxr-xr-x 1 root root     4096 Jul 20 02:11 .
drwxr-xr-x 1 root root     4096 Jul 20 02:05 ..
drwxr-xr-x 4 root root     4096 Jul 16 13:19 .config
-rw-r--r-- 1 root root  2410135 Jul 20 02:11 Dados_Teste.csv.zip
-rw-r--r-- 1 root root 21243109 Jul 20 02:11 Dados_Treino.csv.zip
-rw-r--r-- 1 root root    28910 Jul 20 02:11 Dicionario_de_Dados.csv
drwxr-xr-x 1 root root     4096 Jul 16 13:20 sample_data
-rw-r--r-- 1 root root   117176 Jul 20 02:11 Template_Submissao.csv
Archive:  ./Dados_Teste.csv.zip
  inflating: Dados_Teste.csv
Archive:  ./Dados_Treino.csv.zip
  inflating: Dados_Treino.csv
total 108712
drwxr-xr-x 1 root root     4096 Jul 20 02:11 .
drwxr-xr-x 1 root root     4096 Jul 20 02:05 ..
drwxr-xr-x 4 root root     4096 Jul 16 13:19 .config
-rw-r--r-- 1 root root  8716765 Jul 10 02:29 Dados_Teste.csv
-rw-r--r-- 1 root root  2410135 Jul 20 02:11 Dados_Teste.csv.zip
-rw-r--r-- 1 root root 78773966 Jul 10 02:29 Dados_Treino.csv
-rw-r--r-- 1 root root 21243109 Jul 20 02:11 Dados_Treino.csv.zip
-rw-r--r-- 1 root root    28910 Jul 20 02:11 Dicionario_de_Dados.csv
drwxr-xr-x 1 root root     4096 Jul 16 13:20 sample_data
-rw-r--r-- 1 root root   117176 Jul 20 02:11 Template_Submissao.csv

##Datasets

###Initial view

In [7]:
df_dados_teste = pd.read_csv('./Dados_Teste.csv')
df_dados_treino = pd.read_csv('./Dados_Treino.csv')
df_dict_dados = pd.read_csv('./Dicionario_de_Dados.csv')
df_template_sub = pd.read_csv('./Template_Submissao.csv')

In [8]:
def explore_dataset(df_aux):
  delimiter = '--------------------'
  print(df_aux.shape)
  print(delimiter)
  print(round(df_aux.describe(), 2))
  print(delimiter)
  df_aux.info(verbose=True)

Dados de Treino

In [9]:
df_dados_treino.head()

   encounter_id  hospital_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0        214826          118  ...                            0                  1
1        246060           81  ...                            0                  1
2        262220          118  ...                            0                  0
3        201746           33  ...                            0                  0
4        182697           83  ...                            0                  1

[5 rows x 180 columns]

In [24]:
explore_dataset(df_dados_treino)

(117141, 180)
--------------------
       encounter_id  ...  diabetes_mellitus
count     117141.00  ...          117141.00
mean      213013.98  ...               0.22
std        38128.78  ...               0.41
min       147001.00  ...               0.00
25%       179951.00  ...               0.00
50%       213051.00  ...               0.00
75%       246063.00  ...               0.00
max       279000.00  ...               1.00

[8 rows x 174 columns]
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117141 entries, 0 to 117140
Data columns (total 180 columns):
 #   Column                       Dtype
---  ------                       -----
 0   encounter_id                 int64
 1   hospital_id                  int64
 2   age                          float64
 3   bmi                          float64
 4   elective_surgery             int64
 5   ethnicity                    object
 6   gender                       object
 7   height                       float64
 8   hospital_admit_source        object
 9   icu_admit_source             object
 10  icu_id                       int64
 11  icu_stay_type                object
 12  icu_type                     object
 13  pre_icu_los_days             float64
 14  readmission_status           int64
 15  weight                       float64
 16  albumin_apache               float64
 17  apache_2_diagnosis           float64
 18  apache_3j_diagnosis          float64
 19  apache_post_operative        int64
 20  arf_apache                   int64
 21  bilirubin_apache             float64
 22  bun_apache                   float64
 23  creatinine_apache            float64
 24  fio2_apache                  float64
 25  gcs_eyes_apache              float64
 26  gcs_motor_apache             float64
 27  gcs_unable_apache            float64
 28  gcs_verbal_apache            float64
 29  glucose_apache               float64
 30  heart_rate_apache            float64
 31  hematocrit_apache            float64
 32  intubated_apache             int64
 33  map_apache                   float64
 34  paco2_apache                 float64
 35  paco2_for_ph_apache          float64
 36  pao2_apache                  float64
 37  ph_apache                    float64
 38  resprate_apache              float64
 39  sodium_apache                float64
 40  temp_apache                  float64
 41  urineoutput_apache           float64
 42  ventilated_apache            int64
 43  wbc_apache                   float64
 44  d1_diasbp_invasive_max       float64
 45  d1_diasbp_invasive_min       float64
 46  d1_diasbp_max                float64
 47  d1_diasbp_min                float64
 48  d1_diasbp_noninvasive_max    float64
 49  d1_diasbp_noninvasive_min    float64
 50  d1_heartrate_max             float64
 51  d1_heartrate_min             float64
 52  d1_mbp_invasive_max          float64
 53  d1_mbp_invasive_min          float64
 54  d1_mbp_max                   float64
 55  d1_mbp_min                   float64
 56  d1_mbp_noninvasive_max       float64
 57  d1_mbp_noninvasive_min       float64
 58  d1_resprate_max              float64
 59  d1_resprate_min              float64
 60  d1_spo2_max                  float64
 61  d1_spo2_min                  float64
 62  d1_sysbp_invasive_max        float64
 63  d1_sysbp_invasive_min        float64
 64  d1_sysbp_max                 float64
 65  d1_sysbp_min                 float64
 66  d1_sysbp_noninvasive_max     float64
 67  d1_sysbp_noninvasive_min     float64
 68  d1_temp_max                  float64
 69  d1_temp_min                  float64
 70  h1_diasbp_invasive_max       float64
 71  h1_diasbp_invasive_min       float64
 72  h1_diasbp_max                float64
 73  h1_diasbp_min                float64
 74  h1_diasbp_noninvasive_max    float64
 75  h1_diasbp_noninvasive_min    float64
 76  h1_heartrate_max             float64
 77  h1_heartrate_min             float64
 78  h1_mbp_invasive_max          float64
 79  h1_mbp_invasive_min          float64
 80  h1_mbp_max                   float64
 81  h1_mbp_min                   float64
 82  h1_mbp_noninvasive_max       float64
 83  h1_mbp_noninvasive_min       float64
 84  h1_resprate_max              float64
 85  h1_resprate_min              float64
 86  h1_spo2_max                  float64
 87  h1_spo2_min                  float64
 88  h1_sysbp_invasive_max        float64
 89  h1_sysbp_invasive_min        float64
 90  h1_sysbp_max                 float64
 91  h1_sysbp_min                 float64
 92  h1_sysbp_noninvasive_max     float64
 93  h1_sysbp_noninvasive_min     float64
 94  h1_temp_max                  float64
 95  h1_temp_min                  float64
 96  d1_albumin_max               float64
 97  d1_albumin_min               float64
 98  d1_bilirubin_max             float64
 99  d1_bilirubin_min             float64
 100 d1_bun_max                   float64
 101 d1_bun_min                   float64
 102 d1_calcium_max               float64
 103 d1_calcium_min               float64
 104 d1_creatinine_max            float64
 105 d1_creatinine_min            float64
 106 d1_glucose_max               float64
 107 d1_glucose_min               float64
 108 d1_hco3_max                  float64
 109 d1_hco3_min                  float64
 110 d1_hemaglobin_max            float64
 111 d1_hemaglobin_min            float64
 112 d1_hematocrit_max            float64
 113 d1_hematocrit_min            float64
 114 d1_inr_max                   float64
 115 d1_inr_min                   float64
 116 d1_lactate_max               float64
 117 d1_lactate_min               float64
 118 d1_platelets_max             float64
 119 d1_platelets_min             float64
 120 d1_potassium_max             float64
 121 d1_potassium_min             float64
 122 d1_sodium_max                float64
 123 d1_sodium_min                float64
 124 d1_wbc_max                   float64
 125 d1_wbc_min                   float64
 126 h1_albumin_max               float64
 127 h1_albumin_min               float64
 128 h1_bilirubin_max             float64
 129 h1_bilirubin_min             float64
 130 h1_bun_max                   float64
 131 h1_bun_min                   float64
 132 h1_calcium_max               float64
 133 h1_calcium_min               float64
 134 h1_creatinine_max            float64
 135 h1_creatinine_min            float64
 136 h1_glucose_max               float64
 137 h1_glucose_min               float64
 138 h1_hco3_max                  float64
 139 h1_hco3_min                  float64
 140 h1_hemaglobin_max            float64
 141 h1_hemaglobin_min            float64
 142 h1_hematocrit_max            float64
 143 h1_hematocrit_min            float64
 144 h1_inr_max                   float64
 145 h1_inr_min                   float64
 146 h1_lactate_max               float64
 147 h1_lactate_min               float64
 148 h1_platelets_max             float64
 149 h1_platelets_min             float64
 150 h1_potassium_max             float64
 151 h1_potassium_min             float64
 152 h1_sodium_max                float64
 153 h1_sodium_min                float64
 154 h1_wbc_max                   float64
 155 h1_wbc_min                   float64
 156 d1_arterial_pco2_max         float64
 157 d1_arterial_pco2_min         float64
 158 d1_arterial_ph_max           float64
 159 d1_arterial_ph_min           float64
 160 d1_arterial_po2_max          float64
 161 d1_arterial_po2_min          float64
 162 d1_pao2fio2ratio_max         float64
 163 d1_pao2fio2ratio_min         float64
 164 h1_arterial_pco2_max         float64
 165 h1_arterial_pco2_min         float64
 166 h1_arterial_ph_max           float64
 167 h1_arterial_ph_min           float64
 168 h1_arterial_po2_max          float64
 169 h1_arterial_po2_min          float64
 170 h1_pao2fio2ratio_max         float64
 171 h1_pao2fio2ratio_min         float64
 172 aids                         int64
 173 cirrhosis                    int64
 174 hepatic_failure              int64
 175 immunosuppression            int64
 176 leukemia                     int64
 177 lymphoma                     int64
 178 solid_tumor_with_metastasis  int64
 179 diabetes_mellitus            int64
dtypes: float64(157), int64(17), object(6)
memory usage: 160.9+ MB

Dados de Teste

In [28]:
df_dados_teste.head()

   encounter_id  hospital_id  ...  lymphoma  solid_tumor_with_metastasis
0        231640           42  ...         0                            0
1        220057          100  ...         0                            0
2        238466          128  ...         0                            0
3        214794           77  ...         0                            0
4        255804          110  ...         0                            0

[5 rows x 173 columns]

In [27]:
explore_dataset(df_dados_teste)

(13016, 173)
--------------------
       encounter_id  hospital_id  ...  lymphoma  solid_tumor_with_metastasis
count      13016.00     13016.00  ...  13016.00                     13016.00
mean      212882.75       105.04  ...      0.00                         0.02
std        37940.12        63.46  ...      0.06                         0.14
min       147000.00         1.00  ...      0.00                         0.00
25%       180537.25        47.00  ...      0.00                         0.00
50%       212676.50       110.00  ...      0.00                         0.00
75%       245433.25       163.00  ...      0.00                         0.00
max       278994.00       204.00  ...      1.00                         1.00

[8 rows x 173 columns]
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13016 entries, 0 to 13015
Data columns (total 173 columns):
 #   Column                       Dtype
---  ------                       -----
 0   encounter_id                 int64
 1   hospital_id                  int64
 2   age                          float64
 3   bmi                          float64
 4   elective_surgery             int64
 5   ethnicity                    int64
 6   gender                       int64
 7   height                       float64
 8   icu_id                       int64
 9   pre_icu_los_days             float64
 10  readmission_status           int64
 11  weight                       float64
 12  albumin_apache               float64
 13  apache_post_operative        int64
 14  arf_apache                   int64
 15  bilirubin_apache             float64
 16  bun_apache                   float64
 17  creatinine_apache            float64
 18  fio2_apache                  float64
 19  gcs_eyes_apache              float64
 20  gcs_motor_apache             float64
 21  gcs_unable_apache            float64
 22  gcs_verbal_apache            float64
 23  glucose_apache               float64
 24  heart_rate_apache            float64
 25  hematocrit_apache            float64
 26  intubated_apache             int64
 27  map_apache                   float64
 28  paco2_apache                 float64
 29  paco2_for_ph_apache          float64
 30  pao2_apache                  float64
 31  ph_apache                    float64
 32  resprate_apache              float64
 33  sodium_apache                float64
 34  temp_apache                  float64
 35  urineoutput_apache           float64
 36  ventilated_apache            int64
 37  wbc_apache                   float64
 38  d1_diasbp_invasive_max       float64
 39  d1_diasbp_invasive_min       float64
 40  d1_diasbp_max                float64
 41  d1_diasbp_min                float64
 42  d1_diasbp_noninvasive_max    float64
 43  d1_diasbp_noninvasive_min    float64
 44  d1_heartrate_max             float64
 45  d1_heartrate_min             float64
 46  d1_mbp_invasive_max          float64
 47  d1_mbp_invasive_min          float64
 48  d1_mbp_max                   float64
 49  d1_mbp_min                   float64
 50  d1_mbp_noninvasive_max       float64
 51  d1_mbp_noninvasive_min       float64
 52  d1_resprate_max              float64
 53  d1_resprate_min              float64
 54  d1_spo2_max                  float64
 55  d1_spo2_min                  float64
 56  d1_sysbp_invasive_max        float64
 57  d1_sysbp_invasive_min        float64
 58  d1_sysbp_max                 float64
 59  d1_sysbp_min                 float64
 60  d1_sysbp_noninvasive_max     float64
 61  d1_sysbp_noninvasive_min     float64
 62  d1_temp_max                  float64
 63  d1_temp_min                  float64
 64  h1_diasbp_invasive_max       float64
 65  h1_diasbp_invasive_min       float64
 66  h1_diasbp_max                float64
 67  h1_diasbp_min                float64
 68  h1_diasbp_noninvasive_max    float64
 69  h1_diasbp_noninvasive_min    float64
 70  h1_heartrate_max             float64
 71  h1_heartrate_min             float64
 72  h1_mbp_invasive_max          float64
 73  h1_mbp_invasive_min          float64
 74  h1_mbp_max                   float64
 75  h1_mbp_min                   float64
 76  h1_mbp_noninvasive_max       float64
 77  h1_mbp_noninvasive_min       float64
 78  h1_resprate_max              float64
 79  h1_resprate_min              float64
 80  h1_spo2_max                  float64
 81  h1_spo2_min                  float64
 82  h1_sysbp_invasive_max        float64
 83  h1_sysbp_invasive_min        float64
 84  h1_sysbp_max                 float64
 85  h1_sysbp_min                 float64
 86  h1_sysbp_noninvasive_max     float64
 87  h1_sysbp_noninvasive_min     float64
 88  h1_temp_max                  float64
 89  h1_temp_min                  float64
 90  d1_albumin_max               float64
 91  d1_albumin_min               float64
 92  d1_bilirubin_max             float64
 93  d1_bilirubin_min             float64
 94  d1_bun_max                   float64
 95  d1_bun_min                   float64
 96  d1_calcium_max               float64
 97  d1_calcium_min               float64
 98  d1_creatinine_max            float64
 99  d1_creatinine_min            float64
 100 d1_glucose_max               float64
 101 d1_glucose_min               float64
 102 d1_hco3_max                  float64
 103 d1_hco3_min                  float64
 104 d1_hemaglobin_max            float64
 105 d1_hemaglobin_min            float64
 106 d1_hematocrit_max            float64
 107 d1_hematocrit_min            float64
 108 d1_inr_max                   float64
 109 d1_inr_min                   float64
 110 d1_lactate_max               float64
 111 d1_lactate_min               float64
 112 d1_platelets_max             float64
 113 d1_platelets_min             float64
 114 d1_potassium_max             float64
 115 d1_potassium_min             float64
 116 d1_sodium_max                float64
 117 d1_sodium_min                float64
 118 d1_wbc_max                   float64
 119 d1_wbc_min                   float64
 120 h1_albumin_max               float64
 121 h1_albumin_min               float64
 122 h1_bilirubin_max             float64
 123 h1_bilirubin_min             float64
 124 h1_bun_max                   float64
 125 h1_bun_min                   float64
 126 h1_calcium_max               float64
 127 h1_calcium_min               float64
 128 h1_creatinine_max            float64
 129 h1_creatinine_min            float64
 130 h1_glucose_max               float64
 131 h1_glucose_min               float64
 132 h1_hco3_max                  float64
 133 h1_hco3_min                  float64
 134 h1_hemaglobin_max            float64
 135 h1_hemaglobin_min            float64
 136 h1_hematocrit_max            float64
 137 h1_hematocrit_min            float64
 138 h1_inr_max                   float64
 139 h1_inr_min                   float64
 140 h1_lactate_max               float64
 141 h1_lactate_min               float64
 142 h1_platelets_max             float64
 143 h1_platelets_min             float64
 144 h1_potassium_max             float64
 145 h1_potassium_min             float64
 146 h1_sodium_max                float64
 147 h1_sodium_min                float64
 148 h1_wbc_max                   float64
 149 h1_wbc_min                   float64
 150 d1_arterial_pco2_max         float64
 151 d1_arterial_pco2_min         float64
 152 d1_arterial_ph_max           float64
 153 d1_arterial_ph_min           float64
 154 d1_arterial_po2_max          float64
 155 d1_arterial_po2_min          float64
 156 d1_pao2fio2ratio_max         float64
 157 d1_pao2fio2ratio_min         float64
 158 h1_arterial_pco2_max         float64
 159 h1_arterial_pco2_min         float64
 160 h1_arterial_ph_max           float64
 161 h1_arterial_ph_min           float64
 162 h1_arterial_po2_max          float64
 163 h1_arterial_po2_min          float64
 164 h1_pao2fio2ratio_max         float64
 165 h1_pao2fio2ratio_min         float64
 166 aids                         int64
 167 cirrhosis                    int64
 168 hepatic_failure              int64
 169 immunosuppression            int64
 170 leukemia                     int64
 171 lymphoma                     int64
 172 solid_tumor_with_metastasis  int64
dtypes: float64(155), int64(18)
memory usage: 17.2 MB

###ETL

Pré-processamento de dados de treino e teste

In [9]:
#Transform fields from Object to int
def transform_fields(df, fields):
  label_encoder = LabelEncoder()
  for field in fields:
    df[field] = label_encoder.fit_transform(list(df[field].values))
  return df

#Treat numeric values from dataframe
def str_to_num(df_aux, index):
  for i in index:
    col_name = df_aux.columns[i]
    # df_aux[col_name] = df_aux[col_name].str.replace('.', '')
    # df_aux[col_name] = df_aux[col_name].str.replace(',', '.')
    df_aux[col_name] = pd.to_numeric(df_aux[col_name])
  return df_aux

In [10]:
fields_to_tranform = ['ethnicity', 'gender']
df_dados_teste = transform_fields(df_dados_teste, fields_to_tranform)
df_dados_treino = transform_fields(df_dados_treino, fields_to_tranform)

# Change field type
df_dados_teste = str_to_num(df_dados_teste, [3])
df_dados_treino = str_to_num(df_dados_treino, [3])

In [12]:
#Remove columns
rm_columns = ['hospital_admit_source', 'icu_admit_source', 
              'icu_stay_type', 'icu_type', 'apache_2_diagnosis', 
              'apache_3j_diagnosis' ]

df_dados_teste.drop(columns=rm_columns, inplace=True)
df_dados_treino.drop(columns=rm_columns, inplace=True)

In [29]:
#Replace NaN values with 0
df_dados_teste = df_dados_teste.fillna(0)
df_dados_treino = df_dados_treino.fillna(0)

In [30]:
#Check infinite values
print(np.all(np.isfinite(df_dados_teste)))
print(np.all(np.isfinite(df_dados_treino)))

print(np.any(np.isnan(df_dados_teste)))
print(np.any(np.isnan(df_dados_treino)))

True
True
False
False

##Machine Learning Algorithms

Algoritmos utilizados para prever a presença de Diabetes em pacientes

### Utility Functions to help the process

In [36]:
def get_samples_for_train_test(X, y, div_size, random):
  X_tr, X_ts, y_tr, y_ts = train_test_split(X, 
                                            y,
                                            stratify = y,
                                            test_size=div_size, 
                                            random_state=random)
  print('Amostras de treino:')
  print(f' * X_train: {X_tr.shape}')
  print(f' * y_train: {y_tr.shape}')

  print('Amostras de teste:')
  print(f' * X_test: {X_ts.shape}')
  print(f' * y_test: {y_ts.shape}')
  return X_tr, X_ts, y_tr, y_ts

def create_knn_model(neighbors, X_tr, X_ts, y_tr, y_ts):
  model = KNeighborsClassifier(n_neighbors=neighbors)
  model.fit(X_tr, y_tr)
  print(f'Acurácia (Treino): {round(accuracy_score(y_tr, model.predict(X_tr)), 2)}')
  print(f'Acurácia (Teste): {round(accuracy_score(y_ts, model.predict(X_ts)), 2)}')
  print(classification_report(y_test, knn_model.predict(X_test), target_names=['NO', 'YES']))
  return model

### KNN - k vizinhos mais próximos

In [32]:
# Get data for X and y
X = df_dados_treino.loc[:,'encounter_id':'solid_tumor_with_metastasis'].to_numpy()
y = df_dados_treino['diabetes_mellitus'].to_numpy()

In [27]:
print(X)

[[214826 118 68.0 ... 0 0 0]
 [246060 81 77.0 ... 0 0 0]
 [262220 118 81.0 ... 0 0 0]
 ...
 [219719 7 73.0 ... 0 0 0]
 [222562 170 81.0 ... 0 0 0]
 [157942 7 35.0 ... 0 0 0]]

In [33]:
X_train, X_test, y_train, y_test = get_samples_for_train_test(X, y, div_size=0.25, random=0)

Amostras de treino:
 * X_train: (87855, 173)
 * y_train: (87855,)
Amostras de teste:
 * X_test: (29286, 173)
 * y_test: (29286,)

Treino do Modelo utilizando a algoritmo KNN

In [43]:
knn_model = create_knn_model(neighbors=10, X_tr=X_train, X_ts=X_test, y_tr=y_train, y_ts=y_test)

Acurácia (Treino): 0.8
Acurácia (Teste): 0.79
              precision    recall  f1-score   support

          NO       0.79      0.98      0.88     22952
         YES       0.51      0.07      0.13      6334

    accuracy                           0.78     29286
   macro avg       0.65      0.53      0.50     29286
weighted avg       0.73      0.78      0.71     29286